* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 34px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

form {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

form button {
    margin-left: 16px;
}

form input, button {
    padding: 6px;
    font-size: 16px;
    margin-bottom: 24px;
}

button {
    font-weight: bold;
}

ul {
    max-width: 262px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

li {
    padding-bottom: 3px;
    
}

.finalizada {
    text-decoration: line-through;
}